NEXT_PUBLIC_SUPABASE_URL=cole_aqui_a_url_do_supabase
NEXT_PUBLIC_SUPABASE_ANON_KEY=cole_aqui_a_chave_anon_do_supabase
API_FOOTBALL_KEY=cole_aqui_a_chave_da_api_football
OPENAI_API_KEY=cole_aqui_a_chave_da_openai
